$text-color: #222222;
$color-violet: #663399;
$color-white: #fff;
$zIndex: 10;
.landing__container {
  position: relative;
  // width: 100%;

  .top__wrapper {
    .top__right__circle {
      top: -150px;
      left: 406px;
      width: 936px;
      height: 925px;
      position: absolute;
    }
    .top__left__circle {
      top: 170px;
      left: -179px;
      width: 471px;
      height: 572px;
      position: absolute;
    }
    .left__text {
      top: 270px;
      left: 189px;
      width: 325px;
      line-height: 1;
      position: absolute;
      color: #222222;
      z-index: 10;
      font-size: 30px;
    }
    .text__bottom--border {
      top: 335px;
      left: 192px;
      width: 136px;
      height: 8px;
      position: absolute;
      background: #000000 0% 0% no-repeat padding-box;
      border-radius: 13px;
      z-index: $zIndex;
    }
    .left__handshake {
      top: 466px;
      left: 136px;
      width: 452px;
      height: 265px;
      position: absolute;
      z-index: 50;
    }

    .left__accounting__dots {
      top: 696px;
      left: 362px;
      width: 330px;
      height: 70px;
      z-index: 100;
      position: absolute;
    }

    .right__accounting__dots {
      top: 620px;
      left: 983px;
      width: 316px;
      height: 70px;
      position: absolute;
    }
  }

  .bottom__wrapper {
    background: url("/assets/images/sol_wave_bg.svg") no-repeat 100% 0%
      padding-box;
    width: 100%;
    top: 1000px;
    z-index: 20;
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .cards__container {
      display: flex;
      justify-content: center;
      align-items: center;
      .card__container__one {
        flex: 1;
      }
      .card__container__two {
        flex: 1;
        align-self: center;
      }
    }

    .bottom-right__container {
      display: flex;
      justify-content: flex-end;
      flex-direction: column;
      align-items: flex-start;
      .bottom-right--title {
        font-family: Montserrat-Medium;
        font-size: 40px;
        letter-spacing: 49;
      }
      .bottom-right--description {
        font-family: Montserrat-Regular;
        color: #999999;
        letter-spacing: 22;
      }
      .open__account__btn {
        width: 198px;
        height: 40px;
        box-shadow: 0px 0px 20px #00000033;
        border: 2px solid $color-violet;
        color: $color-violet;
        border-radius: 24px;
      }
      .open__account__btn:hover {
        background-color: $color-violet;
        color: white;
      }
    }
  }
}
