<div class="landing__container">
  <app-header></app-header>
  <img  class="top__left__circle" src="/assets/images/blob-small.svg" alt="top_left_circle">
  <img  class="left__text" src="/assets/images/We make it Super Sim.svg" alt="text__image">
  <div class="text__bottom--border"></div>
  <img  class="left__handshake" src="/assets/images/handshake.png" alt="top_right_circle">
  <img  class="left__accounting__dots" src="/assets/images/accounting_dots.svg" alt="accounting__dots">
  <img  class="top__right__circle" src="/assets/images/circle.svg" alt="top_right_circle">
  <button mat-raised-button color="primary">Primary</button>
  <app-eligibility-calculator></app-eligibility-calculator>
</div>
<!-- <router-outlet></router-outlet> -->
