$color-violet: #663399;
mat-slider {
  width: 300px;
}
.container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  position: absolute;
  top: 250px;
  right: 100px;
  z-index: 20;

  .calculator__form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    box-shadow: 10px 10px 10px #ccc;
    border-radius: 20px;
    height: fit-content;
    height: 58vh;
    padding: 1em;

    .repayment {
      width: 96%;
    }

    .existing__loans {
      width: 96%;
      display: flex;
      justify-content: space-between;
    }

    .emi {
      width: 21vw;
    }
  }

  .calculator_data {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: transparent linear-gradient(
      90deg
      , #9f62c9 0%, #663399 100%) 0% 0% no-repeat padding-box;
    width: 200px;
    height: 45vh;
    color: white;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    .calculator__data--label {
      color: #f3f0f0;
    }
    .money-btn {
      border-radius: 25px;
      color: $color-violet;
    }
    .money-btn:hover {
      background-color: $color-violet;
      color: white;
    }
  }
}
