<div class="container">
  <div class="calculator__form">
    <h3>Eligibility Calculator</h3>
    <div>
      <label for="">Monthly Income</label><br>
      &#8377;{{ monthlyIncome }}
      <mat-slider
        thumbLabel
        [displayWith]="formatLabel"
        (input)="onIncomeInputChange($event)"
        tickInterval="1000"
        min="100000"
        max="300000"
      ></mat-slider>
    </div>
    <div>
      <label for="">Monthly Expense</label><br>
      &#x20B9;{{ monthlyExpense }}
      <mat-slider
        thumbLabel
        [displayWith]="formatLabel"
        (input)="onExpenseInputChange($event)"
        tickInterval="1000"
        min="1"
        max="100000"
      ></mat-slider>
    </div>
    <mat-form-field class="repayment">
      <mat-label>Repayment Tenure</mat-label>
      <mat-select>
        <mat-option *ngFor="let tenure of repaymentTenure" [value]="tenure.value">
          {{ tenure.viewValue }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div class="existing__loans">
      <span>Do you have any existing loans?</span>
      <mat-slide-toggle
        ></mat-slide-toggle
      >
    </div>
    <mat-form-field class="emi">
      <mat-label>EMI of existing loan (optional)</mat-label>
      <input matInput />
    </mat-form-field>
  </div>
  <div class="calculator_data">
    <p>Loan Amount</p>
    <h3>Rs. 10000</h3>
    <p>Your EMI will be</p>
    <h3>Rs. 15000</h3>
    <button class="money-btn" mat-raised-button>Get Money</button>
  </div>
</div>
